<header>
  <nav class="h-6rem bg-red-200 cursor-pointer flex flex-row justify-content-between align-items-center border-100 border-solid border-bottom-3 border-left-0 borer-right-0 border-top-0">
  <!-- <nav className="bg-zinc-800 text-white h-24 w-full flex items-center px-6"> -->
    <div className="flex flex-grow-1 flex-row">
      <span>HOT TAKES </span>
      <li routerLinkActive="active"><a routerLink="posts" routerLinkActive="active">Posts</a></li>
      <li routerLinkActive="active"><a routerLink="contributors" routerLinkActive="active">Contributors</a></li>
    </div>
      <!-- <div>
      </div>
      <Link href="/">
        <span>HOT TAKES </span>
      </Link>
    </div>
    <div className="hidden sm:flex space-x-4
    
    ">
      <Link href="/posts" className='text-white hover:text-zinc-300'>
        Posts
      </Link>
      <Link href="/contributors" className='text-white hover:text-zinc-300'>
        Contributors
      </Link>
      <Link href="/about" className='text-white hover:text-zinc-300'>
        About
      </Link>
      {/* <Link href="/contact" className='text-white hover:text-zinc-300'>
        Contact
      </Link>
      <Link href="/rss" className='text-white hover:text-zinc-300'>
        Rss
      </Link>
      <Link href="/posts" className='text-white hover:text-zinc-300'>
        Posts
      </Link>
      <Link href="/mysql-crud" className='text-white hover:text-zinc-300'>
        MySQL CRUD
      </Link>
      <Link href="/session" className='text-white hover:text-zinc-300'>
        Session
      </Link>
      <Link href="/sign-in" className='text-white hover:text-zinc-300'>
        Sign In
      </Link> */}
    </div> -->
  </nav>
</header>