<header>
  <nav class="bg-zinc-800 text-white h-24 w-full flex flex-row items-center px-6">


    <div class="flex flex-grow flex-row">
      <a routerLink="/" routerLinkActive="active">

        <div class="text-xl font-bold">
          <span class="text-2xl mr-2 cursor-pointer">
            !!
          </span>
          HOT TAKES
        </div>
      </a>
    </div>

    <div class="hidden sm:flex space-x-4">
        <a routerLink="posts" routerLinkActive="active">
          Posts
        </a>
        <a routerLink="contributors" routerLinkActive="active">
          Contributors
        </a>
    </div>

    <div class="flex text-2xl text-white sm:hidden">
      SHEET ICON
      <button (click)="sidebarVisible = true" icon="pi pi-arrow-right">CLICK</button>
    </div>
  </nav>
</header>


<p-sidebar [(visible)]="sidebarVisible">
  <h3>Sidebar</h3>
  <p>
      Lorem ipsum dolor sit amet...
  </p>
</p-sidebar>
